.body-grey {
    background-color: grey;
}
.center-form {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.margin-vertical-center {
    margin-top: 200px;
}

.center-form input {
    padding: 10px;
}
.bg-img {
    /* The image used */
    background-image: url("madhubani_painting.jpg");
  
    /* Control the height of the image */
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }