.body-grey {
  background-color: grey;
  background-image: url("madhubani_painting.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center-form {
  text-align: center;
  background-color: rgb(195, 155, 123);
  padding: 20px;
  width: 30%;
  margin: 0 auto;
}

.margin-vertical-center {
  margin-top: 180px;
}

.center-form input {
  width: 80%;
  padding: 10px;
}


/*------------ Modal-Box-----*/

.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.modal-content {
  height: auto;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}

.modal-header {
  min-height: 50px;
  font-weight: bold;
  margin: auto;
  padding: 10px;
}

.modal-header h2 {
  text-align: center;
}

.modal-body {
  padding: 10px;
  background-color: rgb(182, 188, 188);
  min-height: 250px;
  margin-top: 10px;
}

.modal-footer {
  min-height: 50px;
}

.modal-form-center-1-col input,
button {

  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  margin-bottom: 10px;
}