.body-grey {
    background-color: grey;
}
.center-form {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.margin-vertical-center {
    margin-top: 200px;
}

.center-form input {
    padding: 10px;
}
.bg-img {
    /* The image used */
    background-image: url("madhubani_painting.jpg");
  
    /* Control the height of the image */
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


  /*------------ Modal-Box-----*/

  .modal-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .modal-content {
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
  }

  .modal-header {
    min-height: 50px;
  }

  .modal-body {
    padding: 10px;
    background-color: aqua;
    min-height: 300px;
    margin-top: 10px;
  }

  .modal-footer {
    min-height: 50px;
  }

  .modal-form-center-1-col input, button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
  }