body {
    margin-top: 0;
    margin-left: 0;
}

header {
    background-color: blueviolet;
    color: white;
    height: 100px;
}

main {

}

footer {
    background-color: black;
    color: white;
    height: 300px;
}

nav {

}