body {
    margin-top: 0;
    margin-left: 0;
}
#show_bg_2 {
  background-image:
    linear-gradient(to bottom, rgba(0, 8, 51, 0.9), rgba(117, 19, 93, 0.73)),
    url('hero-bg.jpg');
    width: 97%;
    height: 900px;
    background-size: cover;
    color: white;
    padding: 20px;
}
header {
    background-color: black;
    top: 0;
    width: 98%;
    position: fixed;
    color: white;
    height: 70px;
   
}


main {
  min-height: 800px;
}

footer {
    background-color: black;
    color: white;
    height: 70px;
    border-bottom: 1px solid #ccc;
    /* padding: .5em 1em; */
    text-align: center;
    /* padding: .5em 1em; */
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 70px;
    width: 100%;
    margin-bottom: 0;
}

  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card img {
    width: 240px;
    height: 180px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .site-identity img {
    width:70px;
    
    float: left;
    margin: 0 10px 0 0;
  }
  /*.site-identity input{ 
     margin-top: 25px;
  }*/
  
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover{
    color: #f1f1f1;
  }

  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }
  
  .grid-container {
      display: grid;
      padding: 100px 10px 0px 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image : linear-gradient (rgba (0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(images/background.jpg);
    background-position : center;
    background-size: cover;
    display: flex;
    align-items: center;
    Justify-content : center;
} 

.search-bar{
    width: 40%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items : center;
    border-radius : 40px;
    padding: 5px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #000;
}
::placeholder{
  color: #cac7ff;
}

.search-bar button img{
    width: 25px;
  }
.search-bar button{
  border: 0;
  border-radius : 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
} */
